:root {
    --nice-grey: #C4C4C4;
    --font-color: #404040;
    --border-line: 1px solid rgba(255, 255, 255, 0.8);
    --border-radius: 25px;
    --linear-bg: linear-gradient(180deg, rgba(255, 235, 224, 0) 0%, rgb(255, 255, 255, 0.5) 100%);
    --banner-color: rgba(255, 255, 255, 55%);
    --banner-font-color: #686868;
    font-size: 10px;
}

/* .test {
    height: 50px;
    width: 25%;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 100px;
    border-bottom: var(--border-line);

} */
* {
    border: red solid 1px;
}
body {
    margin: 0;
    padding: 0;
    background-color: var(--nice-grey);
    font-family: 'Poppins', Roboto;
    box-sizing: border-box;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}
header {
    height: calc(100vh - 50px);
    width: 100%;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;margin-top: 50px;
}

.nav {
    display: flex;
    background-color: var(--nice-grey);
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-line);
    position: fixed;
    top: 0px;
    z-index: 10;

}

.logo {
    padding: 0 20px;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
}

ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.3rem;
}

li {
    max-width: 150px;
    padding: 15px;
    text-align: center;
}

.name {
    position: absolute;
    right: 2.5rem;
    bottom: 4rem;
    text-align: right;
    line-height: 2.8rem;
    font-size: 4.8rem;
    font-weight: 100;
    letter-spacing: 0.4rem;
}

.title {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 0.7rem;
}

.icon-down-open-big {
    position: absolute;
    font-size: 7rem;
    bottom: -3.5rem;
    left: 50%;
    transform: scaleX(1.2);
    transform: scaleY(0.6);
}
.a1 {
    bottom: -2rem;
    animation: blink 2s ease-in-out 5300ms 2;
}
.a2 {
    animation: blink 2s ease-in-out 5000ms 2;
}
@keyframes blink {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}

h1 {
    font-size: 2.5rem;
    letter-spacing: 0.3rem;
    font-weight: 300;
}
