:root {
    --nice-grey: #C4C4C4;
    --border-line: 1px solid rgba(255, 255, 255, 0.8);
    --border-radius25: 25px;
    --border-radius15: 0 15px 15px 0;
    --linear-bg: linear-gradient(180deg, rgba(255, 235, 224, 0.1) 0%, rgb(255, 255, 255, 0.5) 100%);
    --banner-color: rgba(255, 255, 255, 55%);
    --header-font-color: #686868;
    --margin-inside: 20px 30px;
    font-size: 10px;
    color: #404040;
    text-align: justify;
}

/* .test {
    height: 50px;
    width: 25%;
    background-color: black;
    position: absolute;
    top: 100px;
    left: 100px;
    border-bottom: var(--border-line);

} */
/* * {
    border: red solid 1px;
} */
body {
    margin: 0;
    padding: 0;
    background-color: var(--nice-grey);
    font-family: 'Poppins', Roboto;
    box-sizing: border-box;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    color: white;
}
header {
    height: calc(100vh - 50px);
    width: 100%;
    background: url("../img/header.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
    margin-top: 50px;
}

.nav {
    display: flex;
    background-color: var(--nice-grey);
    height: 50px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    border-bottom: var(--border-line);
    position: fixed;
    top: 0px;
    z-index: 10;

}

.logo {
    padding: 0 20px;
    font-size: 2.5rem;
    letter-spacing: 0.5rem;
    font-weight: 500;
}

ul {
    list-style: none;
    display: flex;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    letter-spacing: 0.3rem;
}

li {
    max-width: 150px;
    padding: 15px;
    text-align: center;
}
ul > .sep-line {
    width: 1px;
    height: 30px;
    background-color: white;
    margin: 0px 0px; 
}

.name {
    position: absolute;
    right: 2.5rem;
    bottom: 4rem;
    text-align: right;
    line-height: 2.8rem;
    font-size: 4.8rem;
    font-weight: 100;
    letter-spacing: 0.4rem;
}

.title {
    font-size: 2.4rem;
    font-weight: 800;
    letter-spacing: 0.7rem;
}

.icon-down-open-big {
    position: absolute;
    font-size: 7rem;
    bottom: -3.5rem;
    left: 50%;
    transform: scaleX(1.2);
    transform: scaleY(0.6);
}
.a1 {
    bottom: -2rem;
    animation: blink 2s ease-in-out 5300ms 2;
}
.a2 {
    animation: blink 2s ease-in-out 5000ms 2;
}
@keyframes blink {
0% {opacity: 1;}
50% {opacity: 0;}
100% {opacity: 1;}
}

/* Body  */

.position-relative {
    position: relative;
}

.centered {
    margin-left: auto;
    margin-right: auto;
}
.padding {
    padding: 25px 25px;
}

/*
.padding-p {
    padding: 30px 50px;
    margin-top: 75px;
}
*/
.margintop50 {
    margin-top: 50px;
} 

.section {
    background-image: var(--linear-bg);
    border: var(--border-line);
    border-radius: var(--border-radius25);
    width: 80%;
    padding: 50px 25px 10px 25px;
    box-sizing: border-box;
}

.section-header {
    background-color: rgba(255, 255, 255, 0.55);
    border-radius: var(--border-radius15);
    padding: 3px 30px;
    color: var(--header-font-color);
    font-weight: 700;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    margin-top: 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.sub-header {
    border: 1px solid #40404080;
    border-radius: 15px;
    padding: 3px 30px;
    font-weight: 300;
    font-size: 2.5rem;
    letter-spacing: 0.2rem;
    position: absolute;
    top: 0px;
    left: 50px;
    
}
.container {
    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

section > img {
    margin: 25px;
    box-sizing: border-box;
    border-radius: 15px 15px 15px 15px;
}

/* About-me  */
.s1 {
    padding: 10px 30px;
}
.sep-line {
    width: 1px;
    height: 230px;
    background-color: white;
    margin: 0px 30px; 
}
.photo-face {
    height: auto;
    max-width: 175px;
    border-radius: 100%;
    border: var(--border-line);
}

.f-item.data {
    flex: 1;
    text-align: left;
}
.f-item.hi-there {
    flex: 2;
}


/* Experience  */
.experience {
    width: 80%;
    border-radius: 0 25px 25px 0;
    display: flex;
}
.icons-2 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    min-height: 325px;
}

.icons-2 > img {
    width: 152px;
    height: auto;
}
.icons-3 {
    /* min-height: 400px; */
    align-self: center;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.icons-3 > * {
    width: 120px;
    align-self: center;
}


/* Reunion  */

.life-header {
    top: -90px;
}
.s3 {
    width: 75%;
    margin-top: 90px;

}
.s3 p {
    box-sizing: border-box;
}
.s3 img {
    max-height: 300px;
}

/* Yoga */

.s5 {
    max-width: 800px;
}

.s5 .sub-header {
    right: 50px;
    left: auto;
    width: fit-content;
}

.s5 p {
    align-self: center;
}


/* Footer  */
footer {
    height: 250px;
    /* background-image: url(/CodersCamp2020.Project.HTML-CSS.BusinessCard/img/footer.jpeg);
    background-size: cover;
    background-position-y: center;
    filter: opacity(0.8); */
    border-radius: 10px 10px 0 0;
    border-top: var(--border-line);
    overflow: hidden;
    background-color: #fff;
}
 footer > img {
    object-fit: contain;
    width: 100vw;
    /* transform: translateY(10px); */
    opacity: 0.8;
 }
.social-media {
    display: flex;
    justify-content: space-around;
    margin: 30px;
    z-index: 1;
    position: absolute;
    top: 70px;
}
.social-media > i[class^="icon-"] {
    font-size: 3rem;
    color: #ffffff;
    border-radius: 100%;
    border: var(--border-line);
    margin: 15px;
    padding: 2px;
}
form{
    position: absolute;
    z-index: 1;
    right: 25px;
    top: 30px;
    width: 40%;
    height: 220px;
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 1fr 4fr;
    grid-template-areas:    "name email"
                            "message message";
    grid-gap: 5px;
}

.form-name {
    grid-area: name;
    background-color: rgba(255, 255, 255, 0.70);
}
.form-email {
    grid-area: email;
    background-color: rgba(255, 255, 255, 0.70);
}
.form-message {
    grid-area: message;
    background-color: rgba(255, 255, 255, 0.70);
}

.form-template {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    background-color: rgba(255, 255, 255, 0.70);
    padding-left: 20px;
    border-radius: 10px;
    border: none;
}
input[type=textfield]::-webkit-input-placeholder {
    position: relative;
    bottom: 50px;
}
input[type=submit] {
    position: absolute;
    z-index: 2;
    padding: 5px 20px;
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2em;
    border-radius: 8px;
    color: white;
    background-color: #c9a2b5;
    right: 10px;
    bottom: 40px;
    border: none;
}